# Enade -Tranformação de dados

In [2]:
# Import bibliotecas
import pandas as pd
import numpy as np
import os

In [4]:
enade_pt1 = pd.read_csv(
    './enade2021/microdados_enade_2021/microdados_Enade_2021_LGPD/2.DADOS/microdados2021_arq1.txt',
    sep=','
)

enade_pt2 = pd.read_csv(
    './enade2021/microdados_enade_2021/microdados_Enade_2021_LGPD/2.DADOS/microdados2021_arq3.txt',
    sep=','
)

enade_pt3 = pd.read_csv(
    './enade2021/microdados_enade_2021/microdados_Enade_2021_LGPD/2.DADOS/microdados2021_arq5.txt',
    sep=','
)

enade_pt4 = pd.read_csv(
    './enade2021/microdados_enade_2021/microdados_Enade_2021_LGPD/2.DADOS/microdados2021_arq6.txt',
    sep=','
)

enade_pt5 = pd.read_csv(
    './enade2021/microdados_enade_2021/microdados_Enade_2021_LGPD/2.DADOS/microdados2021_arq4.txt',
    sep=','
)

In [5]:
enade_pt3.head()

   NU_ANO  CO_CURSO TP_SEXO
0    2021         6       F
1    2021         6       F
2    2021         6       F
3    2021         6       F
4    2021         6       F

In [6]:
enade = pd.merge(enade_pt1, enade_pt2, how='inner', on='NU_ANO')

In [8]:
enade = pd.merge(enade, enade_pt3, how='inner', on='CO_CURSO')

:

:

In [ ]:
enade.head()

In [15]:
enade.head(-1999)

,NU_ANO,CO_CURSO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,NT_GER,NT_FG,NT_CE_D1,NT_CE_D2,NT_CE_D3
0,2021,6,1,1,10028,2001,1,5103403,51,5,0.0,0.0,0,0,0
1,2021,6,1,1,10028,2001,1,5103403,51,5,0.0,0.0,0,0,0
2,2021,6,1,1,10028,2001,1,5103403,51,5,0.0,0.0,0,0,0
3,2021,6,1,1,10028,2001,1,5103403,51,5,0.0,0.0,0,0,0
4,2021,6,1,1,10028,2001,1,5103403,51,5,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24978000,2021,1261,14,5,10028,4006,1,4318705,43,4,10.5,10.7,30,20,10
24978001,2021,1261,14,5,10028,4006,1,4318705,43,4,10.5,8.6,50,0,10
24978002,2021,1261,14,5,10028,4006,1,4318705,43,4,10.5,5.2,0,0,0
24978003,2021,1261,14,5,10028,4006,1,4318705,43,4,10.5,30.1,80,0,0
24978004,2021,1261,14,5,10028,4006,1,4318705,43,4,10.5,3.4,20,70,20

In [39]:
# verificando schema da tabela
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_IES': dtype('float64'),
 'CO_CATEGAD': dtype('float64'),
 'CO_ORGACAD': dtype('float64'),
 'CO_GRUPO': dtype('float64'),
 'CO_MODALIDADE': dtype('float64'),
 'CO_MUNIC_CURSO': dtype('float64'),
 'CO_UF_CURSO': dtype('float64'),
 'CO_REGIAO_CURSO': dtype('float64'),
 'QE_I27': dtype('float64'),
 'QE_I28': dtype('float64'),
 'QE_I29': dtype('float64'),
 'QE_I30': dtype('float64'),
 'QE_I31': dtype('float64'),
 'QE_I32': dtype('float64'),
 'QE_I33': dtype('float64'),
 'QE_I34': dtype('float64'),
 'QE_I35': dtype('float64'),
 'QE_I36': dtype('float64'),
 'QE_I37': dtype('float64'),
 'QE_I38': dtype('float64'),
 'QE_I39': dtype('float64'),
 'QE_I40': dtype('float64'),
 'QE_I41': dtype('float64'),
 'QE_I42': dtype('float64'),
 'QE_I43': dtype('float64'),
 'QE_I44': dtype('float64'),
 'QE_I45': dtype('float64'),
 'QE_I46': dtype('float64'),
 'QE_I47': dtype('float64'),
 'QE_I48': dtype('float64'),
 'QE_I49': dtype('float64'),
 'QE_I50': dtype('float64'),
 'QE_I51': dtype('float64'),
 'QE_I52': dtype('float64'),
 'QE_I53': dtype('float64'),
 'QE_I54': dtype('float64'),
 'QE_I55': dtype('float64'),
 'QE_I56': dtype('float64'),
 'QE_I57': dtype('float64'),
 'QE_I58': dtype('float64'),
 'QE_I59': dtype('float64'),
 'QE_I60': dtype('float64'),
 'QE_I61': dtype('float64'),
 'QE_I62': dtype('float64'),
 'QE_I63': dtype('float64'),
 'QE_I64': dtype('float64'),
 'QE_I65': dtype('float64'),
 'QE_I66': dtype('float64'),
 'QE_I67': dtype('float64'),
 'QE_I68': dtype('float64')}

- CO_IES
- CO_CATEGAD
- CO_GRUPO
- CO_MODALIDADE
- CO_UF_CURSO
- CO_REGIAO_CURSO