# Enade -Tranformação de dados

In [1]:
# Import bibliotecas
import pandas as pd
import numpy as np
import os

In [5]:
enade = pd.read_csv(
    './enade2021/microdados_enade_2021/microdados_Enade_2021_LGPD/2.DADOS/microdados2021_arq_amostra.txt',
    sep=';', decimal=','
)

In [8]:
print(enade.shape)
enade.head()

(19998, 30)

,NU_ANO,CO_CURSO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I04,QE_I05,QE_I08,QE_I10,QE_I11,QE_I14,QE_I15,QE_I23,QE_I25,QE_I26
0,2021.0,6.0,1.0,1.0,10028.0,2001.0,1.0,5103403.0,51.0,5.0,...,B,B,A,A,A,A,A,A,A,A
1,2021.0,6.0,1.0,1.0,10028.0,2001.0,1.0,5103403.0,51.0,5.0,...,B,B,A,A,A,A,A,A,A,A
2,2021.0,6.0,1.0,1.0,10028.0,2001.0,1.0,5103403.0,51.0,5.0,...,B,C,A,A,A,A,A,B,A,A
3,2021.0,6.0,1.0,1.0,10028.0,2001.0,1.0,5103403.0,51.0,5.0,...,B,C,A,A,A,A,A,B,B,A
4,2021.0,6.0,1.0,1.0,10028.0,2001.0,1.0,5103403.0,51.0,5.0,...,B,C,A,A,A,A,A,B,C,A

In [9]:
# verificando schema da tabela
dict(enade.dtypes)

{'NU_ANO': dtype('float64'),
 'CO_CURSO': dtype('float64'),
 'CO_IES': dtype('float64'),
 'CO_CATEGAD': dtype('float64'),
 'CO_ORGACAD': dtype('float64'),
 'CO_GRUPO': dtype('float64'),
 'CO_MODALIDADE': dtype('float64'),
 'CO_MUNIC_CURSO': dtype('float64'),
 'CO_UF_CURSO': dtype('float64'),
 'CO_REGIAO_CURSO': dtype('float64'),
 'NU_ANO.1': dtype('float64'),
 'NT_GER': dtype('O'),
 'NT_FG': dtype('O'),
 'NT_CE_D1': dtype('float64'),
 'NT_CE_D2': dtype('float64'),
 'NT_CE_D3': dtype('float64'),
 'TP_SEXO': dtype('O'),
 'NU_IDADE': dtype('float64'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O')}

- CO_IES
- CO_CATEGAD
- CO_GRUPO
- CO_MODALIDADE
- CO_UF_CURSO
- CO_REGIAO_CURSO