# Enade -Tranformação de dados
---

In [3]:
# Import bibliotecas
import pandas as pd
import numpy as np
import os

In [4]:
enade = pd.read_csv(
    './enade2021/microdados_enade_2021/microdados_Enade_2021_LGPD/2.DADOS/microdados2021_arq_amostra.txt',
    sep=',', decimal='.'
)

In [5]:
print(enade.shape)
enade.head()

(4998, 30)

,NU_ANO,CO_CURSO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I04,QE_I05,QE_I08,QE_I10,QE_I11,QE_I14,QE_I15,QE_I23,QE_I25,QE_I26
0,2021,6,1,1,10028,2001,1,5103403,51,5,...,B,B,A,A,A,A,A,A,A,A
1,2021,6,1,1,10028,2001,1,5103403,51,5,...,B,B,A,A,A,A,A,A,A,A
2,2021,6,1,1,10028,2001,1,5103403,51,5,...,B,C,A,A,A,A,A,B,A,A
3,2021,6,1,1,10028,2001,1,5103403,51,5,...,B,C,A,A,A,A,A,B,B,A
4,2021,6,1,1,10028,2001,1,5103403,51,5,...,B,C,A,A,A,A,A,B,C,A

In [6]:
# verificando schema da tabela
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_ANO.1': dtype('int64'),
 'NT_GER': dtype('float64'),
 'NT_FG': dtype('float64'),
 'NT_CE_D1': dtype('int64'),
 'NT_CE_D2': dtype('int64'),
 'NT_CE_D3': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'NU_IDADE': dtype('int64'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O')}

***Colunas principais:***

> - CO_IES
> - CO_CATEGAD
> - CO_GRUPO
> - CO_MODALIDADE
> - CO_UF_CURSO
> - CO_REGIAO_CURSO
> - Nu_IDADE
> - TP_SEXO
> - NT_GER
> - NT_FG
> - NT_CE


***Mais alguns itens do questionario do etudante:***

- 01: Estado Civil
- 02: Cor ou raça
- 04: Escolaridade do pai
- 05: Escolaridade do mãe
- 08: Renda familiar
- 10: Situação de trabalho
- 11: Situação de bolsa
- 14: Intercâmbio
- 15: Cotas
- 23: Horas de Estudos / semana
- 25: Motivo de escolha do curso
- 26: Motivo de escolha da IES

In [7]:
enade.shape

(4998, 30)

In [8]:
enade.NT_GER.isnull().sum()

0

In [9]:
# quantidade relativa de null
enade.NT_GER.isnull().sum() / enade.shape[0]

0.0

In [10]:
# apenas para alunos da Região Centro-Oeste
enade.loc[
    enade.CO_REGIAO_CURSO == 5
].NT_GER.describe()

count    1254.000000
mean        4.816348
std         2.800213
min         0.000000
25%         2.800000
50%         5.800000
75%         7.100000
max         8.000000
Name: NT_GER, dtype: float64

In [11]:
enade.loc[
    enade.CO_REGIAO_CURSO > 0
].NT_GER.describe()

count    4998.000000
mean        9.083453
std         3.016933
min         0.000000
25%         8.000000
50%        10.100000
75%        11.200000
max        12.200000
Name: NT_GER, dtype: float64

In [12]:
# Filtrando apenas alunos entre 20 e 50 anos
enade.loc[
    (enade.NU_IDADE >= 20) & (enade.NU_IDADE <= 50)
].NT_GER.describe()

count    3375.000000
mean        8.883378
std         3.131153
min         0.000000
25%         8.000000
50%         9.800000
75%        11.200000
max        12.200000
Name: NT_GER, dtype: float64

In [13]:
# Tebala cruzada
# Contar Homes e Mulheres
enade.TP_SEXO.value_counts() / enade.shape[0]

TP_SEXO
M    0.510604
F    0.489396
Name: count, dtype: float64

In [14]:
enade[['NT_GER', 'NT_FG', 'NT_CE_D1', 'NT_CE_D2', 'NT_CE_D3']].describe()

            NT_GER        NT_FG     NT_CE_D1     NT_CE_D2     NT_CE_D3
count  4998.000000  4998.000000  4998.000000  4998.000000  4998.000000
mean      9.083453    11.282953     7.726090     7.535014     4.029612
std       3.016933     8.116246    16.012815    15.740868    10.479247
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       8.000000     6.800000     0.000000     0.000000     0.000000
50%      10.100000    10.100000     0.000000     0.000000     0.000000
75%      11.200000    15.500000    10.000000     5.000000     0.000000
max      12.200000    48.700000   100.000000   100.000000   100.000000

In [15]:
# Comparar media de nota por região do Brasil
enade.groupby('CO_REGIAO_CURSO',).agg({
    'NT_GER': 'mean',
    'NT_FG': 'mean',
    'NT_CE_D1': 'mean',
    'NT_CE_D2': 'mean',
    'NT_CE_D3': 'mean'
})

                    NT_GER      NT_FG  NT_CE_D1  NT_CE_D2  NT_CE_D3
CO_REGIAO_CURSO
1                 9.497390  12.942972  8.182731  8.062249  3.975904
2                 9.800436  11.142036  8.090909  7.814545  4.520000
3                10.815264  12.248798  9.302885  8.599760  4.152644
4                11.699519  14.409240  9.518768  9.807507  5.312801
5                 4.816348   7.547129  4.613238  4.429825  2.368421

# Transformações

***Colunas principais:***

> - CO_IES
> - CO_CATEGAD
> - CO_GRUPO
> - CO_MODALIDADE
> - CO_UF_CURSO
> - CO_REGIAO_CURSO
> - Nu_IDADE
> - TP_SEXO
> - NT_GER
> - NT_FG
> - NT_CE

In [16]:
enade['DESC_PUBLICA'] = ''

enade.loc[enade.CO_CATEGAD.isin([
    4, 5, 7
    ]), 
          'DESC_PUBLICA'] = 'Privado'

In [17]:
enade.loc[enade.CO_CATEGAD.isin([
    1, 2, 3
    ]), 
          'DESC_PUBLICA'] = 'Pública'

In [18]:
enade.DESC_PUBLICA.value_counts()

DESC_PUBLICA
Pública    4251
Privado     747
Name: count, dtype: int64

In [19]:
enade.DESC_PUBLICA.value_counts() / enade.shape[0]

DESC_PUBLICA
Pública    0.85054
Privado    0.14946
Name: count, dtype: float64

In [21]:
# Tranformar a modalidade
enade['CO_MODALIDADE'] = enade.CO_MODALIDADE.replace({
    0: 'EaD',
    1: 'Presencial'
})

In [22]:
enade.CO_MODALIDADE.value_counts()

CO_MODALIDADE
EaD           3113
Presencial    1885
Name: count, dtype: int64

In [23]:
# Tranformação Região
enade['CO_REGIAO_CURSO'] = enade.CO_REGIAO_CURSO.replace({
    1: 'Norte',
    2: 'Nordeste',
    3: 'Suldeste',
    4: 'Sul',
    5: 'Centro-Oeste'
})

In [25]:
enade.CO_REGIAO_CURSO.value_counts()

CO_REGIAO_CURSO
Nordeste        1375
Centro-Oeste    1254
Sul             1039
Suldeste         832
Norte            498
Name: count, dtype: int64