# Enade -Tranformação de dados

In [18]:
# Import bibliotecas
import pandas as pd
import numpy as np
import os

In [29]:
enade_pt1 = pd.read_csv(
    './enade2021/microdados_enade_2021/microdados_Enade_2021_LGPD/2.DADOS/microdados2021_arq1.txt',
    sep=','
)
enade_pt2 = pd.read_csv(
    './enade2021/microdados_enade_2021/microdados_Enade_2021_LGPD/2.DADOS/microdados2021_arq4.txt',
    sep=','
)

In [30]:
enade_pt1.head()

,NU_ANO,CO_CURSO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO
0,2021,6,1,1,10028,2001,1,5103403,51,5
1,2021,6,1,1,10028,2001,1,5103403,51,5
2,2021,6,1,1,10028,2001,1,5103403,51,5
3,2021,6,1,1,10028,2001,1,5103403,51,5
4,2021,6,1,1,10028,2001,1,5103403,51,5

In [37]:
enade = pd.merge(enade_pt1, enade_pt2, how='outer')

In [38]:
enade.head(-1999)

,NU_ANO,CO_CURSO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2021,6,1.0,1.0,10028.0,2001.0,1.0,5103403.0,51.0,5.0,...,4.0,2.0,2.0,8.0,8.0,4.0,3.0,4.0,2.0,3.0
1,2021,6,1.0,1.0,10028.0,2001.0,1.0,5103403.0,51.0,5.0,...,7.0,7.0,3.0,3.0,4.0,2.0,3.0,2.0,7.0,4.0
2,2021,6,1.0,1.0,10028.0,2001.0,1.0,5103403.0,51.0,5.0,...,6.0,7.0,3.0,3.0,3.0,7.0,7.0,3.0,8.0,6.0
3,2021,6,1.0,1.0,10028.0,2001.0,1.0,5103403.0,51.0,5.0,...,4.0,8.0,5.0,4.0,4.0,6.0,1.0,5.0,3.0,3.0
4,2021,6,1.0,1.0,10028.0,2001.0,1.0,5103403.0,51.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710999,2021,107631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,3.0,6.0,3.0,6.0,7.0,4.0,4.0,6.0,6.0
711000,2021,107631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
711001,2021,107631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,5.0,6.0,4.0,4.0,7.0,5.0,5.0,5.0,6.0
711002,2021,107631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,4.0,5.0,5.0,5.0,4.0,3.0,5.0,5.0,5.0
711003,2021,107631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,4.0,6.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0

In [39]:
# verificando schema da tabela
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_IES': dtype('float64'),
 'CO_CATEGAD': dtype('float64'),
 'CO_ORGACAD': dtype('float64'),
 'CO_GRUPO': dtype('float64'),
 'CO_MODALIDADE': dtype('float64'),
 'CO_MUNIC_CURSO': dtype('float64'),
 'CO_UF_CURSO': dtype('float64'),
 'CO_REGIAO_CURSO': dtype('float64'),
 'QE_I27': dtype('float64'),
 'QE_I28': dtype('float64'),
 'QE_I29': dtype('float64'),
 'QE_I30': dtype('float64'),
 'QE_I31': dtype('float64'),
 'QE_I32': dtype('float64'),
 'QE_I33': dtype('float64'),
 'QE_I34': dtype('float64'),
 'QE_I35': dtype('float64'),
 'QE_I36': dtype('float64'),
 'QE_I37': dtype('float64'),
 'QE_I38': dtype('float64'),
 'QE_I39': dtype('float64'),
 'QE_I40': dtype('float64'),
 'QE_I41': dtype('float64'),
 'QE_I42': dtype('float64'),
 'QE_I43': dtype('float64'),
 'QE_I44': dtype('float64'),
 'QE_I45': dtype('float64'),
 'QE_I46': dtype('float64'),
 'QE_I47': dtype('float64'),
 'QE_I48': dtype('float64'),
 'QE_I49': dtype('float64'),
 'QE_I50': dtype('float64'),
 'QE_I51': dtype('float64'),
 'QE_I52': dtype('float64'),
 'QE_I53': dtype('float64'),
 'QE_I54': dtype('float64'),
 'QE_I55': dtype('float64'),
 'QE_I56': dtype('float64'),
 'QE_I57': dtype('float64'),
 'QE_I58': dtype('float64'),
 'QE_I59': dtype('float64'),
 'QE_I60': dtype('float64'),
 'QE_I61': dtype('float64'),
 'QE_I62': dtype('float64'),
 'QE_I63': dtype('float64'),
 'QE_I64': dtype('float64'),
 'QE_I65': dtype('float64'),
 'QE_I66': dtype('float64'),
 'QE_I67': dtype('float64'),
 'QE_I68': dtype('float64')}